body{
    text-align: center;
    color: black;
}

h1{
    text-align: center;
    color: black;
}

.s-font.active{
    color: tomato;
}
.s-font{
    color: cornflowerblue;
}

ul{
    list-style:none;
}
.hidden{
    display:none
}
footer{
    text-align: center;
    bottom:0;
    position: absolute;
}

#weather{
    position:absolute;
    top:0;
    right:0;
    color:red;
}

#quote{
    color: red;
}